

.page {
  min-height: 100vh;
  background: #f5f7fb;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  color: #000;
}

.box {
  background: white;
  width: 95%;
  max-width: 500px;
  padding: 28px 24px;
  border-radius: 14px;
  box-shadow: 0 12px 25px rgba(0,0,0,0.08);
}

h2 { text-align: center; margin-bottom: 8px; }

.timer { text-align: center; margin-bottom: 18px; font-size: 14px; }

.row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  font-size: 16px;
  border-bottom: 1px solid #ddd;
}

.qrBox { display: flex; flex-direction: column; align-items: center; margin: 18px 0; }
.qrBox p { margin-top: 8px; font-size: 13px; }

.addressBox { margin-top: 10px; }
.addressBox p { font-weight: bold; margin-bottom: 5px; }
.address {
  font-family: monospace;
  background: #fafafa;
  padding: 8px;
  border-radius: 8px;
  word-break: break-all;
  border: 1px solid #ddd;
}

.network {
  margin-top: 12px;
  font-size: 12px;
  text-align: center;
  background: #fff3f3;
  padding: 8px;
  border-radius: 8px;
}

.buttons { display: flex; gap: 12px; margin-top: 24px; }

button {
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  border: none;
}

.cancel { background: #eee; color: black; }
.confirm { background: #f7931a; color: white; font-weight: bold; }
.confirm:hover { background: #e4820d; }

.clickable { cursor: pointer; }
.clickable:hover { background: #fff1d6; }

.toast {
  text-align: center;
  background: #111;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  width: fit-content;
  margin: 12px auto 0;
  font-size: 12px;
}

.inputBox {
  margin: 14px 0;
  text-align: center;
}

.inputBox label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
}

.inputBox input {
  width: 70%;
  padding: 8px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ddd;
  text-align: center;
}
.qrImage {
  width: 160px;
  height: 160px;
  object-fit: contain;
  display: block;
  margin: 16px auto; /* centers the image with spacing */
}