.countryItem {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    background-color: var(--color-dark--2);
    border-radius: 7px;
    padding: 1rem 2rem;
    border-left: 5px solid var(--color-brand--1);
}

.countryItem span:first-child {
    font-size: 3rem;
    line-height: 1;
}

.flag {
    width: 25px;
    height: auto;
    display: block;
    margin: 0 auto 2px auto;
}
